#![enable(implicit_some)]
(
    dotconfigs_path: Local("~/dotfiles/configs/"),
    configs: [
        (name: "leftwm", path: "/home/utsav/.config/leftwm/", hash: "3d1bff45bb3ab18be17b80366199e50a8492c83b", conf_type: Dir),
        (name: "nvim", path: "/home/utsav/.config/nvim/", hash: "e80c7e923f2ea58c89c7aae39e21ee5a1b8218a4", conf_type: Dir),
        (name: "polybar", path: "/home/utsav/.config/polybar/", hash: "d3b81182d86c102af039bf5d01139ad2cd6b4e38", conf_type: Dir),
        (name: "rofi", path: "/home/utsav/.config/rofi/", hash: "", conf_type: Dir),
        (name: "zsh", path: "/home/utsav/.config/zsh/", hash: "fb9363f5ab318c9b82390fd72806dc23677eb366", conf_type: Dir),
        (name: "kitty", path: "/home/utsav/.config/kitty/", hash: "7c0929b6bfa8c8abd09e6cd38a3ac2bc8d84ac73", conf_type: Dir),
        (name: "sync-dotfiles", path: "/home/utsav/.config/sync-dotfiles/", hash: "04eeef852430041f84f59cc43593af3c4b08ae38", conf_type: Dir),
        (name: "clang-format", path: "/home/utsav/.clang-format", hash: "6d387288474b374a633be5b180195d45d4860813", conf_type: File),
        (name: "zshrc", path: "/home/utsav/.zshrc", hash: "00d435045b6c5520fc633b120be8429ecc570f50", conf_type: File),
        (name: "xinitrc", path: "/home/utsav/.xinitrc", hash: "c6e66a9c23234c38cc2adfb46ba566ab9fa9bd52", conf_type: File),
        (name: "gitlint", path: "/home/utsav/.gitlint", hash: "62a291680f5e3be473de8e0be1206dfd3819ddb9", conf_type: File),
        (name: "tmux", path: "/home/utsav/.tmux.conf", hash: "2bb7e39b64b561c5fbcf124196ac55255930e9a8", conf_type: File),
        (name: "alacritty", path: "/home/utsav/.config/alacritty", hash: "90f2cc0fd4a629dd56021228e863ef9751d53bdf", conf_type: Dir),
        (name: "i3wm", path: "/home/utsav/.config/i3", hash: "973568013b9aafe0ab729076b81ecc09bac74c8a", conf_type: Dir),
        (name: "x11", path: "/etc/X11/", hash: "5986a0469d72d421d6bf32106e90ec6ce523d456", conf_type: Dir),
        (name: "ly", path: "/etc/ly/", hash: "944af762b40a9437aa17436a53cc19c2cf8d5ee3", conf_type: Dir),
    ],
)