#![enable(implicit_some)]
(
    dotconfigs_path: Local("~/dotfiles/configs/"),
    configs: [
        (name: "leftwm", path: "/home/utsav/.config/leftwm/", hash: "3d1bff45bb3ab18be17b80366199e50a8492c83b", conf_type: Dir),
        (name: "nvim", path: "/home/utsav/.config/nvim/", hash: "25e2d3d5952f268cb1f1daa7fda28a0f999b0f19", conf_type: Dir),
        (name: "polybar", path: "/home/utsav/.config/polybar/", hash: "69a479769c30d2f2399e5e7f3ea667ae0ae34e67", conf_type: Dir),
        (name: "rofi", path: "/home/utsav/.config/rofi/", hash: "f96c495b6884a6a83099a449534fd7ccdb4c3671", conf_type: Dir),
        (name: "zsh", path: "/home/utsav/.config/zsh/", hash: "7c725349d0cd5477945bf848344d1111202e19f7", conf_type: Dir),
        (name: "kitty", path: "/home/utsav/.config/kitty/", hash: "03ac5ace170a117b9782779f5edd5e2f7bb4a4ca", conf_type: Dir),
        (name: "sync-dotfiles", path: "/home/utsav/.config/sync-dotfiles/", hash: "04eeef852430041f84f59cc43593af3c4b08ae38", conf_type: Dir),
        (name: "clang-format", path: "/home/utsav/.clang-format", hash: "6d387288474b374a633be5b180195d45d4860813", conf_type: File),
        (name: "zshrc", path: "/home/utsav/.zshrc", hash: "c232437ca1c0fa4c7ad0abc139fe6aa9279e1d5e", conf_type: File),
        (name: "xinitrc", path: "/home/utsav/.xinitrc", hash: "c6e66a9c23234c38cc2adfb46ba566ab9fa9bd52", conf_type: File),
        (name: "gitlint", path: "/home/utsav/.gitlint", hash: "62a291680f5e3be473de8e0be1206dfd3819ddb9", conf_type: File),
        (name: "tmux", path: "/home/utsav/.tmux.conf", hash: "2bb7e39b64b561c5fbcf124196ac55255930e9a8", conf_type: File),
        (name: "alacritty", path: "/home/utsav/.config/alacritty", hash: "90f2cc0fd4a629dd56021228e863ef9751d53bdf", conf_type: Dir),
        (name: "i3wm", path: "/home/utsav/.config/i3", hash: "b8cb019d1d4308b8699d8acc318e2638b803f637", conf_type: Dir),
        (name: "x11", path: "/etc/X11/", hash: "132ccf379cc0cefa060fbce00a039d4055a37e98", conf_type: Dir),
        (name: "ly", path: "/etc/ly/", hash: "944af762b40a9437aa17436a53cc19c2cf8d5ee3", conf_type: Dir),
    ],
)