#![enable(implicit_some)]
(
    dotconfigs_path: Local("~/dotfiles/configs/"),
    configs: [
        (name: "leftwm", path: "/home/utsav/.config/leftwm/", hash: "2b56bb82ca77439fa738e13e9d2656bed5a55a95", conf_type: Dir),
        (name: "nvim", path: "/home/utsav/.config/nvim/", hash: "b3a5f2a2229e60d608945b4ea64e53dd7cdcf994", conf_type: Dir),
        (name: "polybar", path: "/home/utsav/.config/polybar/", hash: "7ea0117b4182bdb494f37b5b094749fce4beb2d5", conf_type: Dir),
        (name: "rofi", path: "/home/utsav/.config/rofi/", hash: "7487f0d039f9859386a06a0f9ace48cbb28ea661", conf_type: Dir),
        (name: "zsh", path: "/home/utsav/.config/zsh/", hash: "041e77431f84f769d74a0c68170db1a6577759d0", conf_type: Dir),
        (name: "kitty", path: "/home/utsav/.config/kitty/", hash: "7fcba405a8ee3a6c02ff180423edec01ad1cecc4", conf_type: Dir),
        (name: "sync-dotfiles", path: "/home/utsav/.config/sync-dotfiles/", hash: "04eeef852430041f84f59cc43593af3c4b08ae38", conf_type: Dir),
        (name: "clang-format", path: "/home/utsav/.clang-format", hash: "6d387288474b374a633be5b180195d45d4860813", conf_type: File),
        (name: "zshrc", path: "/home/utsav/.zshrc", hash: "b1316ec8aed0aa98e6ebbcf8d156a2d4ddccad27", conf_type: File),
        (name: "xinitrc", path: "/home/utsav/.xinitrc", hash: "b92b17be0650e9ee4aa15f2af7c91678eaff97dc", conf_type: File),
        (name: "gitlint", path: "/home/utsav/.gitlint", hash: "62a291680f5e3be473de8e0be1206dfd3819ddb9", conf_type: File),
        (name: "tmux", path: "/home/utsav/.tmux.conf", hash: "2bb7e39b64b561c5fbcf124196ac55255930e9a8", conf_type: File),
        (name: "alacritty", path: "/home/utsav/.config/alacritty", hash: "90f2cc0fd4a629dd56021228e863ef9751d53bdf", conf_type: Dir),
        (name: "gtk-themes", path: "/home/utsav/.local/share/themes", hash: "2d6a447eb898719519327da5b34a6b9247e20b61", conf_type: Dir),
        (name: "gtk-icons", path: "/home/utsav/.local/share/icons", hash: "82a0a5cec22b1ad47e463464315f6aab14437f78", conf_type: Dir),
        (name: "i3wm", path: "/home/utsav/.config/i3", hash: "187ed78ed8ddbfbe5e71bbaa88055b5c0b52af11", conf_type: Dir),
    ],
)