#![enable(implicit_some)]
(
    dotconfigs_path: "~/dotfiles/configs/",
    configs: [
        (name: "leftwm", path: "/home/utsav/.config/leftwm/", hash: "f3a7155ebc73d3eea0142f12351faaf49046866257b5cdaa11b778bcdcba77e", conf_type: Dir),
        (name: "nvim", path: "/home/utsav/.config/nvim/", hash: "717301a66828f4a3843dbabc749748f6e3592d149c6b66f7e5a6d5ecc1859d", conf_type: Dir),
        (name: "polybar", path: "/home/utsav/.config/polybar/", hash: "bf78a5c1759f3c42f9866d336fa99ccd0b15caeb42e1415f911214758c5ec1", conf_type: Dir),
        (name: "rofi", path: "/home/utsav/.config/rofi/", hash: "39897221a0763125267c1bff262b6fce515d05b5b6f5867a58a3784a47ec641", conf_type: Dir),
        (name: "zsh", path: "/home/utsav/.config/zsh/", hash: "77f61ae612345a758b7b2bbc6f7ea8814d556f5aec4d520b97d9d80a799e047", conf_type: Dir),
        (name: "kitty", path: "/home/utsav/.config/kitty/", hash: "bfbec4faad60d57dcec5634c8e47986cdea83a9ad42dcc21ca0ec25cbb67", conf_type: Dir),
        (name: "sync-dotfiles", path: "/home/utsav/.config/sync-dotfiles/", hash: "f363d59e47b43aa33a84a8ed51979381a06e95ea5d576cd6b687e8580a1dd", conf_type: Dir),
        (name: "clang-format", path: "/home/utsav/.clang-format", hash: "5c9e2243fdf1ce75afba9de49ec09c37e276c898fac1f767af204a58b5", conf_type: File),
        (name: "zshrc", path: "/home/utsav/.zshrc", hash: "d01494654e66b86b9797153abca4801b192e5fdefe2a191f7c2e1933fb21ba9", conf_type: File),
        (name: "xinitrc", path: "/home/utsav/.xinitrc", hash: "5f6439234e8466d82fab5c5e6fd8fae1ecbd922ccce3f7b99440f96517302423", conf_type: File),
        (name: "gitlint", path: "/home/utsav/.gitlint", hash: "c2dc4b3a5dacb422886e5f58e9557b13c459bbec514d2241c67f080ab67f7", conf_type: File),
    ],
)
